projects/the-forge-web-app/test_full.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="test">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="field1" type="xsd:string"/>
                <xsd:element name="field2" type="xsd:integer"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema> 