projects/the-forge/dev/the-forge-v1.0.0-dev/the-forge-v1.0.0/tests/test_full.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="https://edp.pt/FinancialManagement/ControllingOrder/v1" xmlns:p5="http://edp.pt/CommonLib/DataModel/v5.4" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="https://edp.pt/FinancialManagement/ControllingOrder/v1">
  <xsd:import namespace="http://edp.pt/CommonLib/DataModel/v5.4" schemaLocation="ExportXMLSchema1.xsd"/>
  <xsd:element name="ControllingOrderChangeRequest" type="tControllingOrderChangeRequest"/>
  <xsd:complexType name="tControllingOrderChangeRequest">
    <xsd:sequence>
      <xsd:element name="MessageHeader" type="p5:tMessageHeader"/>
      <xsd:element name="ControllingOrderRequest" type="tControllingOrderRequest"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tSettlementRules">
    <xsd:annotation><xsd:documentation xml:lang="EN">Settlement Rules From Which Order Was Created</xsd:documentation></xsd:annotation>
    <xsd:sequence>
      <xsd:element name="SettlementType" minOccurs="0">
        <xsd:annotation><xsd:documentation>Settlement Type (English Fixed Values for BAPI)</xsd:documentation></xsd:annotation>
        <xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="3"/></xsd:restriction></xsd:simpleType>
      </xsd:element>
      <xsd:element name="SourceAssignment" minOccurs="0">
        <xsd:annotation><xsd:documentation>Source Assignment</xsd:documentation></xsd:annotation>
        <xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="3"/></xsd:restriction></xsd:simpleType>
      </xsd:element>
      <xsd:element name="Percentage" minOccurs="0">
        <xsd:annotation><xsd:documentation>Settlement percentage rate</xsd:documentation></xsd:annotation>
        <xsd:simpleType><xsd:restriction base="xsd:decimal"><xsd:totalDigits value="5"/><xsd:fractionDigits value="2"/></xsd:restriction></xsd:simpleType>
      </xsd:element>
      <xsd:element name="EquivalenceNumber" minOccurs="0">
        <xsd:annotation><xsd:documentation>Equivalence number for order settlement</xsd:documentation></xsd:annotation>
        <xsd:simpleType><xsd:restriction base="xsd:decimal"><xsd:totalDigits value="10"/></xsd:restriction></xsd:simpleType>
      </xsd:element>
      <xsd:element name="Amount" minOccurs="0">
        <xsd:annotation><xsd:documentation>Amount for Amount Rule in BAPIs</xsd:documentation></xsd:annotation>
        <xsd:simpleType><xsd:restriction base="xsd:decimal"><xsd:totalDigits value="23"/><xsd:fractionDigits value="4"/></xsd:restriction></xsd:simpleType>
      </xsd:element>
      <xsd:element name="BusinessArea" minOccurs="0">
        <xsd:annotation><xsd:documentation>Business Area</xsd:documentation></xsd:annotation>
        <xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="4"/></xsd:restriction></xsd:simpleType>
      </xsd:element>
      <xsd:element name="CompanyCode" minOccurs="0">
        <xsd:annotation><xsd:documentation>Company Code</xsd:documentation></xsd:annotation>
        <xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="4"/></xsd:restriction></xsd:simpleType>
      </xsd:element>
      <xsd:element name="Account" minOccurs="0">
        <xsd:annotation><xsd:documentation>G/L Account Number</xsd:documentation></xsd:annotation>
        <xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="10"/></xsd:restriction></xsd:simpleType>
      </xsd:element>
      <xsd:element name="ProfitCenter" minOccurs="0">
        <xsd:annotation><xsd:documentation>Profit Center</xsd:documentation></xsd:annotation>
        <xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="10"/></xsd:restriction></xsd:simpleType>
      </xsd:element>
      <xsd:element name="CostCenter" minOccurs="0">
        <xsd:annotation><xsd:documentation>Cost Center</xsd:documentation></xsd:annotation>
        <xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="10"/></xsd:restriction></xsd:simpleType>
      </xsd:element>
      <xsd:element name="OrderNumber" minOccurs="0">
        <xsd:annotation><xsd:documentation>Order Number</xsd:documentation></xsd:annotation>
        <xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="12"/></xsd:restriction></xsd:simpleType>
      </xsd:element>
      <xsd:element name="WBSElement" minOccurs="0">
        <xsd:annotation><xsd:documentation>Work Breakdown Structure Element (WBS Element)</xsd:documentation></xsd:annotation>
        <xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="24"/></xsd:restriction></xsd:simpleType>
      </xsd:element>
      <xsd:element name="AssetNumber" minOccurs="0">
        <xsd:annotation><xsd:documentation>Main Asset Number</xsd:documentation></xsd:annotation>
        <xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="12"/></xsd:restriction></xsd:simpleType>
      </xsd:element>
      <xsd:element name="AssetSubNumber" minOccurs="0">
        <xsd:annotation><xsd:documentation>Asset Subnumber</xsd:documentation></xsd:annotation>
        <xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="4"/></xsd:restriction></xsd:simpleType>
      </xsd:element>
      <xsd:element name="Networking" minOccurs="0">
        <xsd:annotation><xsd:documentation>Network Number for Account Assignment</xsd:documentation></xsd:annotation>
        <xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="12"/></xsd:restriction></xsd:simpleType>
      </xsd:element>
      <xsd:element name="ActivityNumber" minOccurs="0">
        <xsd:annotation><xsd:documentation>Activity Number</xsd:documentation></xsd:annotation>
        <xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="4"/></xsd:restriction></xsd:simpleType>
      </xsd:element>
      <xsd:element name="SalesOrderNumber" minOccurs="0">
        <xsd:annotation><xsd:documentation>Sales Order Number</xsd:documentation></xsd:annotation>
        <xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="10"/></xsd:restriction></xsd:simpleType>
      </xsd:element>
      <xsd:element name="SalesOrderItem" minOccurs="0">
        <xsd:annotation><xsd:documentation>Item number in Sales Order</xsd:documentation></xsd:annotation>
        <xsd:simpleType><xsd:restriction base="xsd:string"><xsd:pattern value="\d+"/><xsd:maxLength value="6"/></xsd:restriction></xsd:simpleType>
      </xsd:element>
      <xsd:element name="CostObject" minOccurs="0">
        <xsd:annotation><xsd:documentation>Cost Object</xsd:documentation></xsd:annotation>
        <xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="12"/></xsd:restriction></xsd:simpleType>
      </xsd:element>
      <xsd:element name="BusinessProcess" minOccurs="0">
        <xsd:annotation><xsd:documentation>Business Process</xsd:documentation></xsd:annotation>
        <xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="12"/></xsd:restriction></xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ... (rest of your XSD omitted for brevity, but will be included in the actual file) ... -->
</xsd:schema> 