projects/the-forge/dev/the-forge-v2.0.0-dev/tests/quick_test_cases/basic_xsd_to_json/source.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Person">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="Age" type="xs:int" minOccurs="1" maxOccurs="1"/>
                <xs:element name="Email" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="Addresses" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Street" type="xs:string"/>
                            <xs:element name="City" type="xs:string"/>
                            <xs:element name="Country" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema> 