projects/the-forge/dev/the-forge-v7.0.0-dev/test_schema.xsd


<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="TestType">
    <xsd:sequence>
      <xsd:element name="Elem1" type="xsd:string"/>
      <xsd:element name="Elem2" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute name="Attr1" type="xsd:string"/>
    <xsd:attribute name="Attr2" type="xsd:string"/>
  </xsd:complexType>
</xsd:schema>
